body{
	background-color: #02010a;
	font-family: Dancing Script;
	color: #fff;
	margin: 0px;
}

header{
	align-items: center;
	display: flex;
	justify-content: center;
}
section{
	align-items: center;
	display: flex;
	justify-content: center;
}
#cabecera{
	background-color: #5b7989;
	border-top-left-radius: : 10px;
	border-top-right-radius:  10px;
	padding: 0.5%;
	width: 60%;
}

.active{
	text-decoration: none;
}

#cabecera h1{
	margin-left: 2%;
}

#panel a {
	color: #fff;
	font-size: 18px;

}

#panel{
	float: right;
	margin-top: -5%;

}
#cabecera #panel{
	color: #fff;
	margin-left: 10%;
	padding: 0px;
	word-spacing: 2%;
}
#velero{
	width: 60%;
}
#central {
	width: 51%;
	background-color:  #82c3a6;
	padding: 5%;
}

#central img{
	display: block;
	margin: auto;
}
#contenido{
	width: 100%;
}
#medio{
	background-color:  #d5c75f ;
	width: 51%;
	padding: 5%;
}

#derecha{
	float: right;
	width: 47.5%;
}

#izquierda{
	float: left;
	width: 47.5%;
}

#derecha img {
	width: 100%;
}

#izquierda img {
	width: 100%;
}

#derecha  {
	text-align: center;
	
}

#izquierda {
	text-align: center;
}

#medio a {
	font-size: 25px;
}

@media (min-width:900px) {
	#contenido{
		max-width: 900px;
	}
	footer{
		width: 57%;
		padding: 2%;
		display: flex;
		margin: 0 auto;
	}

	footer a {
		color: black;
	}

	#contacto{
		float: left;
		width: 24.5%;
	}

	#terminos{
		float: right;
		width: 24.5%;
	}

	#redes{
		float: right;
		width: 24.5%;
	}

	.red{
		display: flex;
		width: 100%;
	}
	.logo{
		width: 20%;
	}

	.copy{
		width: 5%;
		height: 2.5%;
	}
	#derechos{
		float: right;
		width: 24.5%;
	}
}

@media (max-width:900px) {
	#central{
		width: 100%;
	}
	#cabecera{
		width: 100%;
		padding: 5%;
	}
	#cabecera h1{
		text-align: center;
		font-size: 30px;
	}
	#medio{

		width: 100%;
		padding: 10%;
	}
	#medio img{
		width: 90%;
		margin-left: 2%;
		border: 2%;
		margin-top: 12%;

	}

	#derecha{
		float: none;
		width: 100%;
	}
	#izquierda {
		float: none;
		width: 100%;
	}
	#panel{
		margin-top: 2%;
		margin-left: -20%;
		text-align: center;
		float: none;
	}
	#central img{
		width: 90%;
	}

	footer{
		width: 100%;
		display: block;
		padding: 5%;
	}
	#contacto{
		float: none;
		width: 100%;
	}

	#terminos{
		float: none;
		width: 100%;
	}

	#redes{
		float: none;
		width: 100%;
	}

	.red{
		display: flex;
		width: 100%;
	}
	.logo{
		width: 20%;
	}

	.copy{
		width: 5%;
		height: 2.5%;
	}
	#derechos{
		float: none;
		width: 100%;
	}
	

}

.sombra{
	-webkit-box-shadow: 2px 2px 2px 2px rgba(2,1,10,1);
	-moz-box-shadow: 2px 2px 2px 2px rgba(2,1,10,1);
	box-shadow: 2px 2px 2px 2px rgba(2,1,10,1);
}

#paisaje{
	transition-duration: 0.5s;

}

#retrato{
	transition-duration: 0.5s;
}

#paisaje:hover{
	transform: rotate(10deg);
	-webkit-box-shadow: 2px 2px 2px 2px #82c3a6;
	-moz-box-shadow: 2px 2px 2px 2px #82c3a6;
	box-shadow: 2px 2px 2px 2px #82c3a6;
	border: solid 2px;

}

#retrato:hover{
	-webkit-box-shadow: 2px 2px 2px 2px #82c3a6;
	-moz-box-shadow: 2px 2px 2px 2px #82c3a6;
	box-shadow: 2px 2px 2px 2px #82c3a6;
	border: solid 2px;
	transform: translate(20px, -5px);

}

footer p{
	font-size: 1.2em;
}
footer{
	background-color: #C6d5c5;
	color: black;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
